@model PersonalWebsite.Models.ViewModels.Users.AllUsersViewModel
@{
    ViewData["Title"] = "Users";
}

<ul class="list-unstyled">
@foreach (var user in Model.Users)
{
    <li class="media my-4">
        <img class="mr-3" src="@user.ProfilePictureUrl" width="75" height="75" alt="profile-picutre">
        <div class="media-body">
            <h5 class="mt-0 mb-1">@user.UserName</h5>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                    <span class="user-specific-info">Registered on:</span> <span>@user.CreatedOn</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                     <span class="user-specific-info">IsDeleted:</span> <span>@user.IsDeleted</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                    <span class="user-specific-info">IsAdmin:</span> <span>@user.IsAdmin</span>
                </div>
              </div>
            </div>
        </div>
    </li>
    <hr>
}
</ul>